/node_modules
/public/hot
/public/storage/app/public/artical/*
/public/storage/app/public/head_portrait/*
/public/storage/app/public/image/*
/public/storage/app/public/music/*
/public/storage/app/public/music_lyric/*
/public/storage/framework/*
/public/storage/logs
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea*

